$primary-color: #313131;
$secondary-color: #E21E1E;

$white-color: #fff;
$black-color: #000;

$gray-color: #d1d1d1;
$gray-m-color: #444;
$gray-s-color: #999;
$gray-xs-color: #f1f1f1;

$font-sans-serif-family: 'Roboto', sans-serif;
$font-serif-family: 'Roboto Slab', serif;
$font-brand-family: 'Poppins', sans-serif;
